# Skopíruj tento súbor ako ".env" (do priečinka blog/) a doplň skutočné hodnoty.
# Súbor ".env" sa NIKDY necommituje (je v .gitignore).

# Vygeneruj nový kľúč napr. cez:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=zmen-ma-na-nahodny-dlhy-retazec

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Voliteľné - len ak appka posiela e-maily. Pre Gmail použi App Password:
# https://myaccount.google.com/apppasswords
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
